p{
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Josefin Sans', sans-serif;

}

.fundo_nav{
    background-color: rgb(106, 236, 236);
}

.cor_nav{
    color:azure;
    font-size: 1.2em;
}

.cor_nav:hover{
    color: rgb(235, 123, 141);
}

footer{
    background-color: aqua;
}

/* Configurações sobre */
#sobre{
    margin-bottom: 10%;

}

.sobre{
    background-color: #ffc2bb;
    width: 100%;   
}

.img-sobre{
    width: 50%;
    border-radius: 300px;
    margin-left: 5%;
}

.h-sobre{
    margin-top: 3%;
}

/*  Fim Configurações sobre */

#esp{
    margin-bottom: 10%;
}

#exp{
    margin-bottom: 10%;
}