p{
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Josefin Sans', sans-serif;

}

.fundo_nav{
    background-image: linear-gradient(45deg,rgb(114, 205, 233),rgb(255, 255, 255));
}

.cor_nav{
    color:azure;
    font-size: 1.2em;
}

.cor_nav:hover{
    color: rgb(235, 123, 141);
}

footer{
    background-color: aqua;
}

/* Configurações sobre */
#sobre{
    margin-bottom: 10%;
    height: 500px;

}

.sobre{
    background-color: #ffc2bb;
    width: 100%;  
}

.img-sobre{
    width: 50%;
    border-radius: 300px;
    margin-left: 7%;
}

.icone-sobre{
    width: 50%;
}

.h-sobre{
    margin-top: 3%;
    margin-bottom: 5%;
}

.text-sobre{
    font-size: 20px;
}

/*  Fim Configurações sobre */

/*  Configurações especialidades */
#esp{
    margin-bottom: 10%;
}

.icone-esp{
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;

}

.icone-esp2{
    width: 50%;
    margin-left: 20%;
    margin-top: 85%;
    margin-right: 10%;
}

.h-esp{
    margin-top: 60%;
}

/*  Fim Configurações especialidades */

#exp{
    margin-bottom: 10%;
}